@import "assets/styles/mixins/breakpoints";

.recommendText {
    font-family: GothamBold !important;
    font-size: 50px !important;
    @include breakpoint("md-max") {
        font-size: 40px !important;
    }
}

.brand_link_btn {
    & > span {
        font-family: GothamMedium !important;
        font-size: 30px !important;
    }
}