.HtmlEditor {
    width: 100%;
}

button {
    border: 0 !important;
    outline: 0 !important;
}

button::-moz-focus-inner {
    border: 0 !important;
    outline: 0 !important;
}

button::focus {
    border: 0 !important;
    outline: 0 !important;
}

button::active {
    border: 0 !important;
    outline: 0 !important;
}

.product-image img {
    max-width: unset !important;
}