@font-face {
    font-family: ChampionLiteweight;
    src: url('../fonts/Champion/Champion-Liteweight.otf') format('opentype');
}

@font-face {
    font-family: ChampionFeatherweight;
    src: url('../fonts/Champion/Champion-Featherweight.otf') format('opentype');
}

@font-face {
    font-family: GothamMedium;
    src: url('../fonts/Gotham_font/Gotham-Medium.otf') format('opentype');
}

@font-face {
    font-family: GothamBook;
    src: url('../fonts/Gotham_font/Gotham-Book.otf') format('opentype');
}