@font-face {
    font-family: ChampionLiteweight;
    src: url('https://cdn.jsdelivr.net/gh/Photon-Factory-Development-Design/gold-bond-react-app/src/assets/fonts/Champion/Champion-Liteweight.otf') format('opentype');
}

@font-face {
    font-family: ChampionFeatherweight;
    src: url('https://cdn.jsdelivr.net/gh/Photon-Factory-Development-Design/gold-bond-react-app/src/assets/fonts/Champion/Champion-Featherweight.otf') format('opentype');
}

@font-face {
    font-family: GothamMedium;
    src: url('https://cdn.jsdelivr.net/gh/Photon-Factory-Development-Design/gold-bond-react-app/src/assets/fonts/Gotham_font/Gotham-Medium.otf') format('opentype');
}

@font-face {
    font-family: GothamBook;
    src: url('https://cdn.jsdelivr.net/gh/Photon-Factory-Development-Design/gold-bond-react-app/src/assets/fonts/Gotham_font/Gotham-Book.otf') format('opentype');
}