@import "assets/styles/mixins/breakpoints";

.headerTitle {
    margin-top: -60px !important;
    font-family: ChampionWelterweight !important;
    font-size: 50px !important;
    @include breakpoint("md-max") {
        font-size: 40px !important;
    }
}

.header_bg {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;

    @include breakpoint('sm-max') {
        width: 100%;
    }
}

.header_container {
    overflow: hidden;

    @include breakpoint('sm-max') {
        height: 500px;
    }
}