@import 'assets/styles/mixins/breakpoints';

.headerTitle {
    margin-top: -60px !important;
    font-family: ChampionWelterweight !important;
    font-size: 2vw !important;

    // @include breakpoint('md-max') {
    //     font-size: 40px !important;
    // }
}

.header_bg {
    top: 0px;
    left: 0px;
    z-index: 1;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;

    // @media only screen and (max-width: 1023px) {
    //     height: 700px;
    // }
}

.headerBgContainer {
    height: 19vw;
}

.header_title_container {
    z-index: 150;
    position: absolute;
    transform: translateY(-50%);
    top: calc(50% - 2.2vw);

}

.header_container {
    overflow: hidden;
    background-color: #DFD5CB;

    @include breakpoint('sm-max') {
        min-height: 700px;
        align-items: flex-start !important;
    }
}