@import "assets/styles/mixins/breakpoints";

.title {
    font-family: GothamBold !important;
    font-size: 50px !important;
    
    @include breakpoint('md-max') {
        font-size: 40px !important;
    }
}